https://alison-web.github.io/test2/video.html

body {
    background-color: rgb(255, 244, 212);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    padding-top: 30px;
    font-size: 22px;
}

p {
    font-size: 18px;
}

img {
    width: 100%;
    padding-bottom: 50px;
}

iframe {
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 2px solid #000;
}

@media screen and (max-width: 1200px) {
    iframe {
        height: 310px;
    }
}
